.details {
  display: flex;
  flex-direction: column;
}

.phone-showcase {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

.phone-showcase > * {
  flex-shrink: 0;
}

.details > p {
  font-size: 20px;
}

.end {
  font-size: 25px !important;
  text-align: center;
}

strong {
    font-size: 1.2rem;
    color: #8e44ad;
}

@media (max-width: 767px) {
  .phone-showcase {
    flex-wrap: wrap;
    align-content: space-around;
  }
}
